.signIn-button{
  width : 70px;
  height: 10%;
  background-color: orange;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid orange;
  color: black;
}

.form-style{
  border: 1px solid black;
  width: 30%;
  margin: 30px auto;
}

.google-button{

  background-color: #fff;
  border: 1px solid gray;
  border-radius: 40px; 
  width: 24%;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 40px;
  color: blue;
}