.homeBackground{
  background-image: url('../../component/resourseTG/Image/Rectangle\ 1.png');
  background-repeat:no-repeat;
    /* background-position:cover; */
    background-size: cover;
    background-position: absolute;
    /* height: 900px; */
    
}
.trasparent{
  color: rgba(0, 0, 0, 0)
}

.card{
  background-color: rgba(255, 255, 255, 0.35)
}

.wt-color{
  color: white;
}